{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' /> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="{% static 'css/master.css' %}" rel='stylesheet'>
    <link href="{% static 'css/forgotOtp.css' %}" rel='stylesheet'>
    
    <title>Forgot Password</title>
</head>
<body>

    {% comment %} START SHOW AND HIDE LOADER {% endcomment %}
    <div class="se-pre-con"><div></div><div></div><div></div><div></div><h2 class="LoaderText"></h2></div>
    {% comment %} END AND HIDE LOADER {% endcomment %}
    
    <div class="card">        
        <div class="card-body">
            <div class="card-title">
                <h1 class="text-center">Forgot OTP</h1>                
            </div>
            <div class="card-text mt-3">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div id="POST">
                            <div id="DivDisplayMsg" style="display: none;">
                                <button class="close" data-close="alert"></button>
                                <span id="SpnMsgHeader"></span>
                                <span id="SpnErrorMsg"></span>
                            </div>
                            {% csrf_token %}
                            <input type="tel" class="form-control otp" placeholder=" Enter Otp" name="otp" id="otp">
                            <a href="javascript:void(0)" id="btnResendOtp" class="btnResendOtp mb-3">Resend OTP?</a>                                               
                            <button type="submit" class="form-control mt-3 btnOtp" id="btnOtp" name="btnOtp">Submit</button>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script> 
    <script src="{% static 'js/master.js' %}"></script>   
    <script src="{% static 'js/forgotOtp.js' %}"></script>
</body>
</html>