{% extends 'master.html' %}

{% block title %}

  {% load static %}

  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  
{% endblock title %}

{% block content%}

<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12">             
        <div class="row">
          {% for product in product %}
          <div class="col-md-3 col-xs-6">                                  
             <div class="items" id="item1">
              <a class="product-card" href="{% url 'productview' product.id %}" style="text-decoration:none;">
               <img src="{{ product.image.url }}">
              </a>                             
               {% comment %} <p>Simple Navy Blue T-Shirt</p> {% endcomment %}
               <p>{{ product.name }}</p>
               <span>${{ product.price }}</span>
               <form action="{%url 'addtocart' product.pk %}" method="POST">
                {% csrf_token %}
                <a href="{%url 'showmycart' %}" style="text-decoration:none;">
                <button type="submit" class="btn btn-success btn-block">
                  <i class="fa fa shopping-cart"></i>
                  Add To Cart
                </button>
              </a>
              </form>
              {% comment %} <a href="" class="BtnAddCart" id="BtnAddCart">Add To Cart</a>{% endcomment %}
             </div>                           
           </div>
          {% endfor %} 
        </div>               
    </div>
  </div>
</div>


{%endblock content%}

{% block javascript %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock javascript %}