*{
    margin:0;
    padding:0;
    box-sizing:border-box;    
    list-style-type:none;
    font-family: 'Poppins','sans-serif';
}
body{
    max-width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center; 
    background-color: #183661;   
}
.card{
    max-width:100%;  
    background-color:#f1c40f; 
    box-shadow: 0 5px 5px -5px #333; 

}
.form-control{
    outline:none !important;    
}
.form-control:focus{
    outline:none !important;
    box-shadow: none !important;
    border-color:#183661 !important;
}
.fa-user, .fa-envelope , .fa-phone , .fa-lock {
    -webkit-writing-mode:vertical-lr;
}
.btnSignup{
    background-color:#183661;
    color:#f1c40f;
    cursor:pointer;
}
.btnSignup:focus{
    background-color:#183661;
    color:#f1c40f;
}
.close {
    display: inline-block !important;
    margin-top: 0 !important;
    margin-right: 8px !important;
    width: 9px !important;
    height: 9px !important;
    background-repeat: no-repeat!important;
    text-indent: -10000px !important;
    outline: 0 !important;    
    background-image: url(../images/master/remove-icon-small.png)!important;
}
.close:active{
    border:none !important;
    outline:none !important;
}
